@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body{

  margin: 0;
  background: #2A363B;

}

.side{

  width: 300px;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  font-size: 0.87rem;
  font-family: 'Lato', sans-serif;

}

.inside{

  width: 300px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  transition: background 0.5s;
  border-bottom: 1px solid white;
  color: white;
  text-indent: 20px;

}

.welcome{

  width: 300px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: white;
  font-size: 1.1;
  text-decoration: underline;
  border-bottom: 3px solid white;
  text-indent: 20px;

}

.inside:hover{

  background: rgba(255, 255, 255, 0.7);
  color: black;
  text-indent: 20px;
  border-right: 3px solid black;

}

.post{

  background: whitesmoke;
  position: absolute;
  z-index: 2;
  top: 15%;
  width: 1400px;
  height: 700px;
  left: 320px;

}

form.post{

  position: absolute;
  left: 360px;
  top: 10%;
  z-index: 3;

}

input.text{

  margin-left: 10px;
  height: 20px;
  width: 600px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #141414;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  background: transparent;


}

input.text:focus{

  border-bottom: solid 2px #969696;
  outline: 0;

}

.life{

  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  top: 0.5%;
  left: 320px;
  text-align: center;
  color: white;
  z-index: -1;

}

textarea{

  height: 550px;
  width: 700px;
  left: 10px;
  max-width: 800px;
  max-height: 600px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #141414;
  border: none;
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
  background: transparent;
  z-index: 3;
  position: absolute;
  padding: 10px;
  margin-top: 40px;

}

textarea:focus{

  border: solid 2px #969696;
  outline: 0;

}

.rightside{

  right: 10px;
  background: transparent;
  z-index: 5;
  position: absolute;

}

.rightin{

  border-bottom: solid 1px rgba(0,0,0,0.2);
  height: 30px;
  width: 250px;
  font-family: 'Lato', sans-serif;
  color: #141414;
  text-indent: 2px;
  margin-top: 15px;
  transition: opacity 0.3s;
  opacity: 0.75;

}

.rightin:hover{

  opacity: 1;

}


a{

  text-decoration: none;
  color: white;

}
