@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body{

  margin: 0;
  background: #2A363B;

}

.login{

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 50px;
  background: rgba(0,0,0,0.5);
  width: 360px;
  height: 360px;

}

.login h1{

  font-family: 'Lato', sans-serif;
  color: white;
  margin-top: 20px;
  font-size: 3rem;

}

.life{

  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  top: 3.5%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;

}

.life h3{

  font-size: 1.1rem;
  text-decoration: underline;

}

.config{

  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 25%;
  text-align: center;
  background: rgba(0,0,0,0.2);
  padding: 70px;
  width: 780px;

}

form{

  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  color: white;

}

input.text{

  margin-left: 10px;
  height: 20px;
  width: 200px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #fff;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  background: transparent;

}

input.text:focus{

  border-bottom: solid 2px #969696;
  outline: 0;

}

textarea{

  margin-left: 10px;
  height: 200px;
  width: 350px;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #fff;
  padding: 10px;
  border: none;
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
  background: transparent;
  max-width: 450px;
  max-height: 300px;

}

textarea:focus{

  border: solid 2px #969696;
  outline: 0;

}

button.done{

  width: 350px;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  border: none;
  background: rgba(0,0,0,0.5);
  border: solid 2px #c9c9c9;
  color: white;
  transition: background 0.3s;

}

button.done:hover{

  background: transparent;
  outline: 0;

}
